* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.body {
    display: grid;
    grid-template: 150px 1fr 200px / 1fr 300px;
}

.header {
    background-color: #e0e0e0;
    grid-column: span 2;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #fff8e3;
    display: grid;
    grid-template: 1fr 100px 100px / 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.main-section, .section-container-3 {
    grid-column: span 2;
}

[class^="section-container"] {
    background: #feeab9;
    padding: 2rem 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.sidebar {
    background-color: #ddeccb;
    padding: 1rem;
}

.footer {
    background-color: #e0e0e0;
    grid-column: span 2;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 1rem; 
    padding: 1rem;
}

.footer-section {
    background-color: #fafafa;
    grid-area: footer-section;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    gap: 10px;
    grid-template-areas: "footer-section-1 footer-section-2 footer-section-3 footer-section-4";
}

.footer-section-1, .footer-section-2, 
.footer-section-3, .footer-section-4 {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    padding: 2rem 1rem;
}